
<footer style="margin-bottom: 1.5rem; margin-top: 1rem; padding-left: 1rem;">
   <p>Copyright &copy; 2024 instragram</p> 
   <span>Help Center</span> | <span> Contact us </span> | <span> Terms and services </span> | <span> Privacy policy </span> | <span> Join us </span>
</footer>