<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>
        This is a home page 3 + 2
    </h1>
    <p>
        <%= 7*3 %> <br>
        <%= "abc".toUpperCase() %> <br>
        <%= ["tom" , "david" , "kaen"][1] %>
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem reiciendis, assumenda magnam necessitatibus veniam eveniet magni sed excepturi quibusdam nihil omnis. Repudiandae modi repellat optio inventore! Corrupti quas culpa dignissimos?
    </p>
    <button>
        Click here
    </button>
    <%- include('includes/footer.ejs') %>
</body>
</html>